
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    background: rgb(52,203,212);
background: linear-gradient(90deg, rgba(52,203,212,1) 9%, rgba(76,203,171,1) 96%);
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
    
    
   
}

.title div {
    align-items: center;
    text-align: start;
    padding: 55px 0 55px 50px;
}

.title h1 {
    margin: 0;
    margin-top: 50px;
    line-height: 60px;
    font-weight: 600;
    font-size: 60px;

}

.title p {
    font-size: 20px;
}

.title img {
    height: 260px;
    margin-top: 50px ;
    padding-right: 100px;
    
}

.characteristics h3 {
   text-align: center;
   font-size: 30px;
   color: #4CCBAB
}


.details {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 0 80px 0;
}


.detailsTwo {
    background: rgb(76,203,172);
    background: linear-gradient(90deg, rgba(76,203,172,1) 0%, rgba(52,203,212,1) 79%);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.detailsTwo img {
    height: 300px;

}

.detailsTwo h3 {
 font-size: 40px;
 font-weight: 400;
 line-height: 50px;
 color: white;
}

