

.title {
    background: rgb(52,203,212);
background: linear-gradient(90deg, rgba(52,203,212,1) 9%, rgba(76,203,171,1) 96%);
    color: white;
    
    
   
}

.title h1 {
    margin: 0;
    padding: 70px 0px 70px 120px;
    line-height: 60px;
    font-weight: 400;
    font-size: 50px;

}

.details {
    flex: 1;
}

.detailsTwo {
    background: rgb(76,203,172);
    background: linear-gradient(90deg, rgba(76,203,172,1) 0%, rgba(52,203,212,1) 79%);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.detailsTwo img {
    height: 300px;

}

.detailsTwo h3 {
 font-size: 40px;
 font-weight: 400;
 line-height: 50px;
 color: white;
}

.container {
    height: calc(100vh - 81px);
    display: flex;
    flex-direction: column;
}