.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: white;
  
}

.nav h3 {
  margin: 0px 100px;
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
  color: #4CCBAB;
  font-style: italic;


}

.nav button {
  margin: 0px 70px;
  padding: 10px 19px;
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 35px;
  font-size: 18px;
  color: white;
  background: #4CCBAB;
}
