.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 650px;
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 10px;
  color: white;
  width: 201px;
  height: 42px;
  left: 840px;
  top: 615px;
  font-size: 16px;
  cursor: pointer;
  background: #000000;
  border-radius: 6px;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
