:root {
  
  --color: #4CCBAB;

  }

.button {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 22px;
  border-radius: 50px;
  background-color: var(--color);
  color: white;
  border: none;
  cursor: pointer;
}

.title {
  color: var(--color);
  font-size: 30px;
  font-weight: 700;
  border-bottom: 3px solid var(--color);
}

.fondo {
  position: absolute;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(3px);
  top: 0;
 
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 400px;
  padding: 40px 0;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 6px 5px 29px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 5px 29px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 5px 29px -14px rgba(0, 0, 0, 0.75);
 
  top: 100px;
  right: 0;
  left: 0;
  margin: auto;
  
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input label {
  margin: 10px 0;
  font-weight: 500;
  color: var(--color);
}

.input input {
  width: 300px;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid rgb(205, 203, 203);
  font-size: 15px;
}
.btn {
  margin: 20px 0;
  padding: 6px 0;
  width: 100%;
  max-width: 120px;
  font-weight: 700;
  background-color: var(--color);
  border: none  ;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.rg {
  font-size: 35px;
  margin-bottom: 20px;
}

.btnContainer {
  display: flex;
  width: 100%;

  flex-direction: row;
  justify-content: space-around;
}
